<script>
  const current = document.getElementById("home");
  const previous = document.querySelector(".current");
  if (current) {
    previous.classList.remove("current");
    current.classList.add("current");
  }
</script>
<!-- Banner -->
<section id="banner">
  <header>
    <h2>Find Space</h2>
    <a href="/hostels" class="button">Available Hostels</a>
  </header>
</section>

<!-- Highlights -->
<section class="wrapper style1">
  <div class="container">
    <div class="row gtr-200">
      <section class="col-4 col-12-narrower">
        <div class="box highlight">
          <i class="icon solid major fa-paper-plane"></i>
          <h3>Register Account</h3>
          <p>
            Register an account to apply for a hostel. Find space website is
            probably the largest and most trusted website for renting hostel
            space and we are supported by multiple collages across Malawi.
          </p>
        </div>
      </section>
      <section class="col-4 col-12-narrower">
        <div class="box highlight">
          <i class="icon solid major fa-pencil-alt"></i>
          <h3>Apply For Space</h3>
          <p>
            Once you register your account, choose your desired hostel and apply
            for space. Make sure you look out for the distance between the
            hostel and your schoool.
          </p>
        </div>
      </section>
      <section class="col-4 col-12-narrower">
        <div class="box highlight">
          <i class="icon solid major fa-wrench"></i>
          <h3>Confirm Accomodation</h3>
          <p>
            When the landlord approves your appliction for space, the system
            will send you a notification where you have to approve your
            application and proceed to payment to rent a hostel.
          </p>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- Gigantic Heading -->
<section class="wrapper style2">
  <div class="container">
    <header class="major">
      <h2>Trending Hostels in 2023</h2>
      <p>
        take advantage and rent a space in the most convinnient hostels
        available
      </p>
    </header>
  </div>
</section>

<!-- Posts -->
<section class="wrapper style1">
  <div class="container">
    <div class="row">
      <% for (let i = 0; i < hostels.length; i++) {const current = hostels[i];%>
      <section class="col-6 col-12-narrower">
        <div class="box post">
          <a href="#" class="image left"
            ><img src="<%= current.thumbnailPath %>" alt=""
          /></a>
          <div class="inner">
            <h3><%= current.name%></h3>
            <p><%= current.description%></p>
            <a href="/hostels/<%= current._id%>" class="button">Book hostel</a>
          </div>
        </div>
      </section>
      <% } %>
    </div>
  </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style3">
  <div class="container">
    <header>
      <h2>Are you ready to continue your quest?</h2>
      <a href="/hostels" class="button">Book a hostel</a>
    </header>
  </div>
</section>
