<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">
            <article>
                <span class="image featured"><img src="<%= hostel.thumbnailPath%>" alt="" /></span>

                <h3><%= hostel.name %></h3>
                <p><%= hostel.description %></p>
                <a href="/hostels/book/<%= hostel._id%>" class="button">Book hostel</a>
            </article>
        </div>
    </div>
</section>

<script>
    const current = document.getElementById('hostels')
    const previous = document.querySelector('.current')
    if(current)
    {
        previous.classList.remove('current')
        current.classList.add('current')
    }
</script>